@model Lab9.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div{
            position: absolute;
            left: 35%;
            top: 20%;
            border: 2px solid #a7688f;
            padding: 100px 100px;
        }

        .field-validation-error{
            color: red;
        }

        body {
            background: url("../../images/bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        #title {
            color: ghostwhite;
        }
        #label-name{
            color: ghostwhite;
        }

        #label-password {
            color: whitesmoke;
        }

        #submitt 
        {
        }

        #editor {
            border-radius: 25px;
        }


    </style>
</head>
<body>

    <div id="login-div">
        <h1 id="title">Logs manager app</h1>

        @using (Html.BeginForm("Authorise", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td id ="label-name">@Html.LabelFor(model => model.name)</td>
                    <td>@Html.EditorFor(model => model.name) </td>
                </tr>

                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.name) </td>
                </tr>

                <tr>
                    <td id="label-password">@Html.LabelFor(model => model.password)</td>
                    <td id="editor">@Html.EditorFor(model => model.password) </td>
                </tr>

                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.name) </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>


                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="submitt" type="submit" value="Login" />
                        <input type="reset" value="Clear" />
                    </td>
                </tr>
            </table>
        }
        <script src="~/Scripts/jquery-3.5.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>
