@model IEnumerable<Lab9.Models.Log>

@{
    ViewBag.Title = "GetAll";
    Layout = null;
}
<style>
    table th {
        color: white;
    }

    table td {
        color: whitesmoke
    }

    a {
        color: ghostwhite
    }

    h5 {
        color: papayawhip
    }

    p {
        color: floralwhite;
    }

    background {
        background: black;
    }
</style>

<h5>Logs</h5>

<div><label>View by Type : <input type="text" id="search" class="search" /> </label><label>View by Severity : <input type="text" id="searchSeverity" class="searchSeverity" /> </label></div>

<div></div>

<table class="table">
    @using (Html.BeginForm("GetAll", "Home", FormMethod.Get))
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th></th>
        </tr>
    }


    @foreach (var item in ViewBag.result)
    {
        <tr>
            <td>
                @item.type
            </td>
            <td>
                @item.severity
            </td>
            <td>
                @item.date;
            </td>
            <td>
                @item.author
            </td>
            <td>
                @item.message
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.logID })


            </td>
        </tr>
    }

</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#search").on("keyup", function () {
        var textenter = $(this).val();
        $("table tr").each(function (results) {
            if (results != 0) {
                var id = $(this).find("td:nth-child(1)").text();


                if (id.toLowerCase().indexOf(textenter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>

<script>
    $("#searchSeverity").on("keyup", function () {
        var textenter = $(this).val();
        $("table tr").each(function (results) {
            if (results != 0) {
                var id = $(this).find("td:nth-child(2)").text();


                if (id.toLowerCase().indexOf(textenter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>
